doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    title!= "Stroy Alliance - Preloader"

    link(rel="stylesheet", href="style.css")
  body

    -
      var titleArr = [
        "Квартиры",
        "Застройщик",
        "Коммерческая недвижимость",
        "Инвестиции",
        "Генподрядчик",
        "Машиноместа",
        "Земля",
        "Проектирование",
        "Таунхаусы",
        "Новостройки"
      ];

    .title--wrap
      -for(var i = 0, len = titleArr.length; i < len; i++)
        p.animated.slideInRight.title(class!="title-" + i)!= titleArr[i]

    .block--wrap
      -for(var i = 0, len = titleArr.length; i < len; i++)
        .animated.rotateIn.block(class="block-" + i)

    .text--wrap.animated
      p!= "стройальянс"
      p!= "группа компаний"
