doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    title!= "Stroy Alliance - Preloader"

    link(rel="stylesheet", href="style.css")
  body

    -
      var titleArr = [
        "Квартиры",
        "Застройщик",
        "Коммерческая недвижимость",
        "Инвестиции",
        "Генподрядчик",
        "Машиноместа",
        "Земля",
        "Проектирование",
        "Таунхаусы",
        "Новостройки"
      ];

    .loader
      .loader--title-wrap
        -for(var i = 0, len = titleArr.length; i < len; i++)
          p.animated.slideInRight.loader--title(class!="loader--title-" + i)!= titleArr[i]

      .loader--block-wrap
        -for(var i = 0, len = titleArr.length; i < len; i++)
          .animated.rotateIn.loader--block(class="loader--block-" + i)

      .loader--text-wrap.animated
        p!= "стройальянс"
        p!= "группа компаний"
