html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TT Norms", Arila, sans-serif;
  line-height: 1.2; }

p {
  margin: 0;
  padding: 0; }

.loader {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  .loader--gradient {
    z-index: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-duration: 0.9s !important;
    animation-fill-mode: backwards !important;
    animation-timing-function: ease-in-out;
    animation-name: fadeIn; }
    .loader--gradient-0 {
      animation-delay: 0s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(5, 113, 185, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(5, 113, 185, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(5, 113, 185, 0.25) 100%); }
    .loader--gradient-1 {
      animation-delay: 0.9s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(244, 144, 173, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(244, 144, 173, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(244, 144, 173, 0.25) 100%); }
    .loader--gradient-2 {
      animation-delay: 1.8s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(20, 168, 223, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(20, 168, 223, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(20, 168, 223, 0.25) 100%); }
    .loader--gradient-3 {
      animation-delay: 2.7s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(248, 156, 33, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(248, 156, 33, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(248, 156, 33, 0.25) 100%); }
    .loader--gradient-4 {
      animation-delay: 3.6s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(199, 32, 46, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(199, 32, 46, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(199, 32, 46, 0.25) 100%); }
    .loader--gradient-5 {
      animation-delay: 4.5s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(173, 223, 234, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(173, 223, 234, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(173, 223, 234, 0.25) 100%); }
    .loader--gradient-6 {
      animation-delay: 5.4s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(255, 203, 8, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(255, 203, 8, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(255, 203, 8, 0.25) 100%); }
    .loader--gradient-7 {
      animation-delay: 6.3s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(237, 17, 101, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(237, 17, 101, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(237, 17, 101, 0.25) 100%); }
    .loader--gradient-8 {
      animation-delay: 7.2s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(108, 192, 101, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(108, 192, 101, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(108, 192, 101, 0.25) 100%); }
    .loader--gradient-9 {
      animation-delay: 8.1s;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(171, 73, 155, 0.25) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(171, 73, 155, 0.25) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(171, 73, 155, 0.25) 100%); }
  .loader--title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-weight: 100;
    text-align: center; }
    .loader--title-wrap {
      z-index: 1;
      position: relative;
      height: 100px;
      margin-top: 140px;
      margin-bottom: 100px; }
    .loader--title-0 {
      color: #0571b9;
      animation-delay: 0s; }
    .loader--title-1 {
      color: #f490ad;
      animation-delay: 0.9s; }
    .loader--title-2 {
      color: #14a8df;
      animation-delay: 1.8s; }
    .loader--title-3 {
      color: #f89c21;
      animation-delay: 2.7s; }
    .loader--title-4 {
      color: #c7202e;
      animation-delay: 3.6s; }
    .loader--title-5 {
      color: #addfea;
      animation-delay: 4.5s; }
    .loader--title-6 {
      color: #ffcb08;
      animation-delay: 5.4s; }
    .loader--title-7 {
      color: #ed1165;
      animation-delay: 6.3s; }
    .loader--title-8 {
      color: #6cc065;
      animation-delay: 7.2s; }
    .loader--title-9 {
      color: #ab499b;
      animation-delay: 8.1s; }
  .loader--block {
    position: absolute;
    width: 110px;
    height: 110px; }
    .loader--block-wrap {
      z-index: 1;
      position: relative;
      width: 330px;
      height: 440px;
      margin-left: auto;
      margin-right: auto;
      animation-delay: 9.1s;
      animation-duration: 0.2s !important;
      animation-name: scale;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(1, 1, 1, 1); }
    .loader--block-0 {
      left: 0;
      right: auto;
      top: auto;
      bottom: 0;
      background-color: #0571b9;
      box-shadow: 0 0 100px 10px rgba(5, 113, 185, 0.35);
      animation-delay: 0s; }
    .loader--block-1 {
      left: auto;
      right: 0;
      top: auto;
      bottom: 110px;
      background-color: #f490ad;
      box-shadow: 0 0 100px 10px rgba(244, 144, 173, 0.35);
      animation-delay: 0.9s; }
    .loader--block-2 {
      left: 110px;
      right: auto;
      top: 0;
      bottom: auto;
      background-color: #14a8df;
      box-shadow: 0 0 100px 10px rgba(20, 168, 223, 0.35);
      animation-delay: 1.8s; }
    .loader--block-3 {
      left: 0;
      right: auto;
      top: 110px;
      bottom: auto;
      background-color: #f89c21;
      box-shadow: 0 0 100px 10px rgba(248, 156, 33, 0.35);
      animation-delay: 2.7s; }
    .loader--block-4 {
      left: 110px;
      right: auto;
      top: auto;
      bottom: 110px;
      background-color: #c7202e;
      box-shadow: 0 0 100px 10px rgba(199, 32, 46, 0.35);
      animation-delay: 3.6s; }
    .loader--block-5 {
      left: 0;
      right: auto;
      top: 0;
      bottom: auto;
      background-color: #addfea;
      box-shadow: 0 0 100px 10px rgba(173, 223, 234, 0.35);
      animation-delay: 4.5s; }
    .loader--block-6 {
      left: auto;
      right: 0;
      top: 110px;
      bottom: auto;
      background-color: #ffcb08;
      box-shadow: 0 0 100px 10px rgba(255, 203, 8, 0.35);
      animation-delay: 5.4s; }
    .loader--block-7 {
      left: 0;
      right: auto;
      top: auto;
      bottom: 110px;
      background-color: #ed1165;
      box-shadow: 0 0 100px 10px rgba(237, 17, 101, 0.35);
      animation-delay: 6.3s; }
    .loader--block-8 {
      left: auto;
      right: 0;
      top: 0;
      bottom: auto;
      background-color: #6cc065;
      box-shadow: 0 0 100px 10px rgba(108, 192, 101, 0.35);
      animation-delay: 7.2s; }
    .loader--block-9 {
      left: auto;
      right: 0;
      top: auto;
      bottom: 0;
      background-color: #ab499b;
      box-shadow: 0 0 100px 10px rgba(171, 73, 155, 0.35);
      animation-delay: 8.1s; }
    .loader--block-5, .loader--block-8 {
      width: 0;
      height: 0;
      background-color: transparent;
      box-shadow: none; }
    .loader--block-5 {
      border-bottom: 110px solid #addfea;
      border-left: 110px solid transparent; }
    .loader--block-8 {
      border-bottom: 110px solid #6cc065;
      border-right: 110px solid transparent; }
  .loader--text-wrap {
    opacity: 0;
    z-index: 1;
    position: relative;
    text-align: center;
    animation-delay: 9.1s;
    animation-duration: 0.25s !important;
    animation-name: slideInUp;
    animation-fill-mode: forwards; }
    .loader--text-wrap p:nth-child(1) {
      margin-bottom: 10px;
      color: #444444;
      font-size: 70px;
      font-weight: bold; }
    .loader--text-wrap p:nth-child(2) {
      color: #cccccc;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  50% {
    transform: translate3d(-100px, 0, 0); }
  to {
    transform: translate3d(-100%, 0, 0); } }
.slideInRight {
  animation-name: slideInRight;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.9, 0, 0.9); }

@keyframes scale {
  from {
    top: 0;
    transform: scale(1); }
  to {
    top: -80px;
    transform: scale(0.65); } }
@keyframes slideInUp {
  from {
    top: 0;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    top: -150px;
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes slideInRotateBlock0 {
  from {
    transform-origin: center;
    transform: translate3d(-1000px, 1000px, 0);
    visibility: visible; }
  10% {
    transform: translate3d(-900px, 900px, 0); }
  20% {
    transform: translate3d(-800px, 800px, 0); }
  30% {
    transform: translate3d(-700px, 700px, 0); }
  40% {
    transform: translate3d(-600px, 600px, 0); }
  50% {
    transform: translate3d(-500px, 500px, 0); }
  60% {
    transform: translate3d(-400px, 400px, 0); }
  70% {
    transform: translate3d(-300px, 300px, 0); }
  80% {
    transform: translate3d(-200px, 200px, 0); }
  90% {
    transform: translate3d(-100px, 100px, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock1 {
  from {
    transform-origin: center;
    transform: translate3d(1000px, 1000px, 0);
    visibility: visible; }
  10% {
    transform: translate3d(900px, 900px, 0); }
  20% {
    transform: translate3d(800px, 800px, 0); }
  30% {
    transform: translate3d(700px, 700px, 0); }
  40% {
    transform: translate3d(600px, 600px, 0); }
  50% {
    transform: translate3d(500px, 500px, 0); }
  60% {
    transform: translate3d(400px, 400px, 0); }
  70% {
    transform: translate3d(300px, 300px, 0); }
  80% {
    transform: translate3d(200px, 200px, 0); }
  90% {
    transform: translate3d(100px, 100px, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock2 {
  from {
    transform-origin: center;
    transform: translate3d(1000px, 0, 0);
    visibility: visible; }
  10% {
    transform: translate3d(1000px, 0, 0); }
  20% {
    transform: translate3d(1000px, 0, 0); }
  30% {
    transform: translate3d(1000px, 0, 0); }
  40% {
    transform: translate3d(1000px, 0, 0); }
  50% {
    transform: translate3d(1000px, 0, 0); }
  60% {
    transform: translate3d(1000px, 0, 0); }
  70% {
    transform: translate3d(1000px, 0, 0); }
  80% {
    transform: translate3d(1000px, 0, 0); }
  90% {
    transform: translate3d(1000px, 0, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock3 {
  from {
    transform-origin: center;
    transform: translate3d(-1000px, -1000px, 0);
    visibility: visible; }
  10% {
    transform: translate3d(-900px, -900px, 0); }
  20% {
    transform: translate3d(-800px, -800px, 0); }
  30% {
    transform: translate3d(-700px, -700px, 0); }
  40% {
    transform: translate3d(-600px, -600px, 0); }
  50% {
    transform: translate3d(-500px, -500px, 0); }
  60% {
    transform: translate3d(-400px, -400px, 0); }
  70% {
    transform: translate3d(-300px, -300px, 0); }
  80% {
    transform: translate3d(-200px, -200px, 0); }
  90% {
    transform: translate3d(-100px, -100px, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock4 {
  from {
    transform-origin: center;
    transform: translate3d(0, 1000px, 0);
    visibility: visible; }
  10% {
    transform: translate3d(0, 900px, 0); }
  20% {
    transform: translate3d(0, 800px, 0); }
  30% {
    transform: translate3d(0, 700px, 0); }
  40% {
    transform: translate3d(0, 600px, 0); }
  50% {
    transform: translate3d(0, 500px, 0); }
  60% {
    transform: translate3d(0, 400px, 0); }
  70% {
    transform: translate3d(0, 300px, 0); }
  80% {
    transform: translate3d(0, 200px, 0); }
  90% {
    transform: translate3d(0, 100px, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock5 {
  from {
    transform-origin: center;
    transform: translate3d(-1000px, -1000px, 0);
    visibility: visible; }
  10% {
    transform: translate3d(-950px, -950px, 0); }
  20% {
    transform: translate3d(-900px, -900px, 0); }
  30% {
    transform: translate3d(-850px, -850px, 0); }
  40% {
    transform: translate3d(-800px, -800px, 0); }
  50% {
    transform: translate3d(-750px, -750px, 0); }
  60% {
    transform: translate3d(-700px, -700px, 0); }
  70% {
    transform: translate3d(-650px, -650px, 0); }
  80% {
    transform: translate3d(-600px, -600px, 0); }
  90% {
    transform: translate3d(-550px, -550px, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock6 {
  from {
    transform-origin: center;
    transform: translate3d(1000px, 0, 0);
    visibility: visible; }
  10% {
    transform: translate3d(900px, 0, 0); }
  20% {
    transform: translate3d(800px, 0, 0); }
  30% {
    transform: translate3d(700px, 0, 0); }
  40% {
    transform: translate3d(600px, 0, 0); }
  50% {
    transform: translate3d(500px, 0, 0); }
  60% {
    transform: translate3d(400px, 0, 0); }
  70% {
    transform: translate3d(300px, 0, 0); }
  80% {
    transform: translate3d(200px, 0, 0); }
  90% {
    transform: translate3d(100px, 0, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock7 {
  from {
    transform-origin: center;
    transform: translate3d(-1000px, -1000px, 0);
    visibility: visible; }
  10% {
    transform: translate3d(-900px, -900px, 0); }
  20% {
    transform: translate3d(-800px, -800px, 0); }
  30% {
    transform: translate3d(-700px, -700px, 0); }
  40% {
    transform: translate3d(-600px, -600px, 0); }
  50% {
    transform: translate3d(-500px, -500px, 0); }
  60% {
    transform: translate3d(-400px, -400px, 0); }
  70% {
    transform: translate3d(-300px, -300px, 0); }
  80% {
    transform: translate3d(-200px, -200px, 0); }
  90% {
    transform: translate3d(-100px, -100px, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock8 {
  from {
    transform-origin: center;
    transform: translate3d(1000px, -1000px, 0);
    visibility: visible; }
  10% {
    transform: translate3d(900px, -900px, 0); }
  20% {
    transform: translate3d(800px, -800px, 0); }
  30% {
    transform: translate3d(700px, -700px, 0); }
  40% {
    transform: translate3d(600px, -600px, 0); }
  50% {
    transform: translate3d(500px, -500px, 0); }
  60% {
    transform: translate3d(400px, -400px, 0); }
  70% {
    transform: translate3d(300px, -300px, 0); }
  80% {
    transform: translate3d(200px, -200px, 0); }
  90% {
    transform: translate3d(100px, -100px, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
@keyframes slideInRotateBlock9 {
  from {
    transform-origin: center;
    transform: translate3d(1000px, 1000px, 0);
    visibility: visible; }
  10% {
    transform: translate3d(900px, 900px, 0); }
  20% {
    transform: translate3d(800px, 800px, 0); }
  30% {
    transform: translate3d(700px, 700px, 0); }
  40% {
    transform: translate3d(600px, 600px, 0); }
  50% {
    transform: translate3d(500px, 500px, 0); }
  60% {
    transform: translate3d(400px, 400px, 0); }
  70% {
    transform: translate3d(300px, 300px, 0); }
  80% {
    transform: translate3d(200px, 200px, 0); }
  90% {
    transform: translate3d(100px, 100px, 0) rotate(-200deg); }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1; } }
.loader--block {
  opacity: 0;
  animation-duration: 0.15s; }
  .loader--block-0 {
    animation-name: slideInRotateBlock0; }
  .loader--block-1 {
    animation-name: slideInRotateBlock1; }
  .loader--block-2 {
    animation-name: slideInRotateBlock2; }
  .loader--block-3 {
    animation-name: slideInRotateBlock3; }
  .loader--block-4 {
    animation-name: slideInRotateBlock4; }
  .loader--block-5 {
    animation-name: slideInRotateBlock5; }
  .loader--block-6 {
    animation-name: slideInRotateBlock6; }
  .loader--block-7 {
    animation-name: slideInRotateBlock7; }
  .loader--block-8 {
    animation-name: slideInRotateBlock8; }
  .loader--block-9 {
    animation-name: slideInRotateBlock9; }

/*# sourceMappingURL=style.css.map */
