html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TT Norms", Arila, sans-serif;
  line-height: 1.2; }

p {
  margin: 0;
  padding: 0; }

.title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 60px;
  font-weight: 100;
  text-align: center; }
  .title--wrap {
    position: relative;
    height: 100px;
    margin-top: 140px;
    margin-bottom: 100px; }
  .title-0 {
    color: #0571b9;
    animation-delay: 0s; }
  .title-1 {
    color: #f490ad;
    animation-delay: 1.25s; }
  .title-2 {
    color: #14a8df;
    animation-delay: 2.5s; }
  .title-3 {
    color: #f89c21;
    animation-delay: 3.75s; }
  .title-4 {
    color: #c7202e;
    animation-delay: 5s; }
  .title-5 {
    color: #addfea;
    animation-delay: 6.25s; }
  .title-6 {
    color: #ffcb08;
    animation-delay: 7.5s; }
  .title-7 {
    color: #ed1165;
    animation-delay: 8.75s; }
  .title-8 {
    color: #6cc065;
    animation-delay: 10s; }
  .title-9 {
    color: #ab499b;
    animation-delay: 11.25s; }

.block {
  position: absolute;
  width: 110px;
  height: 110px; }
  .block--wrap {
    position: relative;
    width: 330px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    animation-delay: 12.5s;
    animation-name: scale;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, 1, 1, 1); }
  .block-0 {
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;
    background-color: #0571b9;
    animation-delay: 0s; }
  .block-1 {
    left: auto;
    right: 0;
    top: auto;
    bottom: 110px;
    background-color: #f490ad;
    animation-delay: 1.25s; }
  .block-2 {
    left: 110px;
    right: auto;
    top: 0;
    bottom: auto;
    background-color: #14a8df;
    animation-delay: 2.5s; }
  .block-3 {
    left: 0;
    right: auto;
    top: 110px;
    bottom: auto;
    background-color: #f89c21;
    animation-delay: 3.75s; }
  .block-4 {
    left: 110px;
    right: auto;
    top: auto;
    bottom: 110px;
    background-color: #c7202e;
    animation-delay: 5s; }
  .block-5 {
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    background-color: #addfea;
    animation-delay: 6.25s; }
  .block-6 {
    left: auto;
    right: 0;
    top: 110px;
    bottom: auto;
    background-color: #ffcb08;
    animation-delay: 7.5s; }
  .block-7 {
    left: 0;
    right: auto;
    top: auto;
    bottom: 110px;
    background-color: #ed1165;
    animation-delay: 8.75s; }
  .block-8 {
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    background-color: #6cc065;
    animation-delay: 10s; }
  .block-9 {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    background-color: #ab499b;
    animation-delay: 11.25s; }
  .block-5, .block-8 {
    width: 0;
    height: 0;
    background-color: transparent; }
  .block-5 {
    border-bottom: 110px solid #addfea;
    border-left: 110px solid transparent; }
  .block-8 {
    border-bottom: 110px solid #6cc065;
    border-right: 110px solid transparent; }

.text--wrap {
  opacity: 0;
  position: relative;
  text-align: center;
  animation-delay: 12.5s;
  animation-duration: 0.05s !important;
  animation-fill-mode: forwards;
  animation-name: slideInUp; }
  .text--wrap p:nth-child(1) {
    margin-bottom: 10px;
    color: #444444;
    font-size: 70px;
    font-weight: bold; }
  .text--wrap p:nth-child(2) {
    color: #cccccc;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  50% {
    transform: translate3d(-100px, 0, 0); }
  to {
    transform: translate3d(-100%, 0, 0); } }
.slideInRight {
  animation-name: slideInRight;
  animation-duration: 2.25s;
  animation-timing-function: cubic-bezier(0, 0.9, 0, 0.9); }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -300deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
.rotateIn {
  animation-name: rotateIn;
  animation-duration: 1s; }

@keyframes scale {
  from {
    top: 0;
    transform: scale(1); }
  to {
    top: -80px;
    transform: scale(0.65); } }
@keyframes slideInUp {
  from {
    top: 0;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    top: -150px;
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

/*# sourceMappingURL=style.css.map */
